<div id=credit-container>
  <div id='credit'><%= @credit %> €</div>
  <div id='buttons'>
    <%= button_to 'Withdraw',
                  new_transaction_path,
                  method: :get,
                  params: { transaction: { deposit: false } } %>
    <%= button_to 'Deposit',
                  new_transaction_path,
                  method: :get,
                  params: { transaction: { deposit: true } } %>
  </div>
</div>
