<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= transaction.deposit %>
  </p>

  <p>
    <strong>Executor:</strong>
    <%= transaction.executor %>
  </p>

</div>
